html {
    font-size: 62.5%;
}

body {
    font-family: 'Lato', sans-serif;
}

a {
    text-decoration: none;
}

/* Header + nav */
.color {
    background-color: #593622;
}

.logo {
    font-size: 3.2em;
}

.ulfont {
    font-size: 1.7em;
}


/* Main banner principal */
.main__banner {
    width: 100%;
    height: 95vh;
    background: url(/assets/img/wood.png);
    background-size: cover;
    background-attachment: fixed;
}

.banner__portada {
    height: 100%;
    width: 100%;
    max-width: 50vw;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.portada__title {
    text-align: center;
    color: #fff;
    font-size: 4em;
    font-weight: bold;
    padding: 20px;
    text-shadow: 0px 1px 10px rgba(0, 0, 0, 0.4);
}

.portada__description {
    text-align: center;
    color: #fff;
    font-size: 2em;
    text-shadow: 0px 1px 10px rgba(0, 0, 0, 0.4);
}

.portada__button {
    text-align: center;
    display: inline-block;
    text-decoration: none;
    font-size: 1.7em;
    font-weight: bold;
    margin-top: 30px;
    padding: 5px 15px;
    color: #000;
    background-color: #D99559;
    border-radius: 50px;
    border: 1px solid #593622;
    transition: all 0.3s;
}

.portada__button:hover {
    color: #fff;
    background-color: #683419;
}


/* Productos destacados */
.destacados-title{
    font-size: 4em;
}

.destacados {
    display: grid;
    width: 100%;
    max-width: 70vw;
    margin: 0 auto;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 550px);
    grid-row-gap: 50px;
    justify-items: center;
    align-items: center;
    justify-content: center;
    align-content: center;

}

.destacados__card {
    display: flex;
    flex-direction: column;
    background-color: #e6e6e6;
    height: 500px;
    width: 350px;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 20px;
    box-shadow: 0 15px 30px -12px rgba(0,0,0,0.5);
    padding: 20px;
    margin: 25px;
    transition: all 0.3s;
    
}

.destacados__card:hover {
    transform: translateY(-10px);
}

.card__img {
    height: 300px;
    margin-bottom: 20px;
    border-radius: 10px;
}

.card__title {
    font-size: 2em;
    text-align: center;
    font-weight: bold;
}

.card__description {
    font-size: 1.5em;
    text-align: center;
    padding: 10px;
}

.card__price {
    font-size: 1.8em;
    color: #593622;
}

.main__button {
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button__main {
    text-align: center;
    width: 170px;
    font-size: 1.5em;
    font-weight: bold;
    color: #000;
    background-color: #e6e6e6;
    padding: 15px;
    margin: 0 15px;
    border-radius: 50px;
    border: 1.5px solid #000;
    box-shadow: 0 15px 30px -12px rgba(0,0,0,0.5);
    transition: all 0.3s;
}

.button__main:hover{
    color: #fff;
    background-color: #593622;
}


/* Footer */
.footer__container  {
    margin-top: 15px;
    text-align: center;
}

.container__up {
    color: #000;
    font-weight: bold;
    font-size: 1.5em;
    background-color: #dbdbdb;
    border: 1px solid #fff;
    border-radius: 50px;
    padding: 5px;
    transition: all 0.3s;
}

.container__up:hover {
    color: #fff;
    background-color: #42200e;
}

.container__copy {
    color: #fff;
    padding: 30px 0 5px 0;
    font-size: 1.3em;
}


/* page nosotros */
.nosotros__img {
    height: 40vh;
    border-radius: 15px;
    border: #593622 10px solid;
}

.nosotros__description {
    font-size: 2em;
    text-align: left;
}










/* responsive */
@media screen and (max-width: 1025px) {
    
    .destacados {
        grid-template-columns: repeat(2, 450px);
    }

}

@media screen and (max-width: 840px) {
    
    .destacados {
        grid-template-columns: 1fr;
        grid-row-gap: 20px;
    }

    .destacados-title{
        font-size: 3.5em;
    }

}

@media screen and (max-width: 650px){

    .destacados__card {
        width: 250px;
        height: 400px;
    }
    .card__img {
        height: 200px;
    }

    .main__button {
        display: flex;
        flex-direction: column;
        margin: 50px 0;
    }

    .button__main {
        margin: 10px 0px;
    }
}
